.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 200px;
    background-color: #2D3A4B;
    .login-form {
        width: 600px;
        height: 400px;
    }
    .name {
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 22px;
        color: #fff;
    }
}

